doctype
html
    head
        link( rel='stylesheet', href='style.css')
        title= 'Person Database'
        script(src="/Scripts/Canvas.js")
    body
        h3 Cards against Humanity Data Table
        //a(class='button', href='../logout') Logout
        a(class='button', href='../create') Create
        div(class='ctable')
            h3 Cards against Humanity
            table
                thead
                    tr
                        th Id
                        th Type
                        th Text
                        th Date Created
                        th Date Updated
                        th Edit
                        th Delete
                tbody
                    each bc in card
                        tr
                            td
                                |#{bc._id}
                            td
                                |#{bc.color}
                            td
                                |#{bc.text}
                            td
                                |#{bc.created_on.toString()}
                            td
                                |#{bc.update_on.toString()}
                            td 
                                a(href='/edit/#{bc._id.toString()}' ) Edit
                            td
                                a(href='/remove/#{bc._id.toString()}') Remove
                     